rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /live_buses/{busId} {
      allow read: if true;
      allow create, update: if request.resource.data.busNumber is string
        && request.resource.data.currentLat is number
        && request.resource.data.currentLng is number;
      allow delete: if true;
    }
  }
}
